@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Quicksand:wght@300..700&display=swap');



:root{
    --fondo: #52253d;
    --letras: #b25780;
    --efectos: #ff80b3;
    --efectos2: #8f4b6f67;
    --extra: #ffffff;
    --extra2: #c15970;
}

body{
    margin: 0%;
    padding: 0%;
    background-color:var(--fondo);
    font-family: Quicksand;
}


/*!---BOTONES---*/
.button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;

    border:var(--letras) 2px solid;
    cursor: pointer;

    background-color: var(--fondo);
    color:var(--extra);
}

.button:hover{
    background-color:var(--efectos);
    border:2px solid var(--extra2);
    color: var(--extra2);
}

.button-two{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;

    margin-top: 40px;
    margin-bottom: 10px;

    border:var(--letras) 2px solid;
    cursor: pointer;

    background-color:var(--fondo);
    color:#000000;
}

.button-two:hover{
    background-color:var(--efectos);
    border:2px solid var(--extra2) ;
    color:var(--extra2);
}

.arrow-card{
    position: fixed;

    right:40px;
    bottom: 90px;
}

/*!---TITULOS---*/
.title-card{
    color:var(--letras);
    font-family: Quicksand;
    font-size: 50px;
    font-weight: 700;
    
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;

    text-shadow:var(--extra) 2px 3px 2px;
}


.subtitle-card{
    color:var(--extra);
    font-size: 25px;
    font-weight: 400;
    text-shadow:var(--efectos) 2px 3px 2px;
}

/*!--HEADER--*/
.menu{
    display: none;
}

.menu-icon{
    display: none;
}

/*.menu-icon span {
    display: block;
    height: 5px;
    width: 100%;
}*/

header {
    height: 70px;
    text-align: center;
    border-bottom: 1px solid var(--letras);
    box-shadow: 5px 5px 25px var(--efectos);
    margin: 0%;
}

#link{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
header nav ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color:var(--letras);
    padding: 10px;
}

nav a:hover{
    color:var(--efectos) ;
}

/*!--MAIN---*/
/*!---SECTION 1---*/
.hero-card{
    color:var(--letras);
    text-shadow: var(--extra) 3px 2px 2px;
    text-align: center;

    margin-top: 60px;

    background-image: url("../img/onlymujeres.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-card h1{
    font-size: 80px;
    font-weight: 800;
}

.hero-card h2{
    font-size: 40px;
}

/*!--SECTION 2--*/

.gym-card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.gym-card-container div{
    border: var(--efectos2) 2px solid;
    height: 600px;
    width: 504px;

    color: var(--extra);
    background-color: var(--efectos2);
    box-shadow: var(--efectos) 5px 5px 5px;

    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.gym-card-container img{
    height: 400px;
    width: 500px;
}

/*!--SECTION 3---*/

.info-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    margin-top: 100px;

    color: var(--extra);
    font-size: 30px;
    font-weight: 800;

    border: var(--efectos2) 1px solid;
    background-color: var(--efectos2);
    box-shadow: var(--efectos) 5px 5px 5px;
}

/*!---SECTION 4---*/

.pay-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    text-align: center;

    color: var(--extra);
    font-size: 30px;
}

.pay-card-container .card{
    display: flex;
    justify-content: center;

    border:var(--efectos) 2px solid;
    background-color:var(--fondo);
    color:var(--extra);
    box-shadow: 5px 5px 5px var(--efectos);

    height: 300px;
    width: 250px;
    font-size: 18px;
}

.pay-card-container h5{
    text-align: center;
    border-bottom:var(--efectos) 2px solid;

    font-size: 30px;
    font-weight: 700;
    
    margin-bottom: 20px;
}

.pay-card-container .card-text{
    display: flex;
    flex-direction: column;
}

.text-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 80px;

    color: var(--extra);
    font-size: 30px;
    font-weight: 500;


    text-align: center;
}

.text-card h2{
    color:var(--letras);
    text-shadow: var(--extra) 2px 2px 2px;
}


/*!--FOOTER--*/

.footer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    width: auto;
    height: 300px;

    border-top: 2px solid var(--letras);
    box-shadow: 5px 5px 25px var(--efectos);
}

.footer-card h2,h4{
    margin-top: 20px;
    font-size: 25px;
    color:var(--efectos);
}

.footer-card h3{
    font-size: 25px;
    margin-top: 10px;
    color:var(--extra);
    text-shadow: var(--efectos) 2px 2px 2px;
}

.footer-card div{
    margin-top: 10px;
    padding: 10px;
}

/*!--SOBRE NOSOTROS--*/

.we-card{
    color:var(--extra);

    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    

    background-image: url("../img/img-4.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.we-card h1{
    font-size: 80px;
    color:var(--extra);

    font-weight: 800;
    text-align: center;
    display: inline-block;

    margin-top: 100px;
    text-shadow:var(--efectos) 5px 5px 5px;
}

.we-card h4{
    font-size: 45px;
    color:var(--extra);

    font-weight: 800;
    text-align: center;
    display: inline-block;
    
    margin-top: 20px;
    text-shadow:var(--efectos) 5px 5px 5px;
}

.clases-card{
    font-size:35px;
    font-weight: 500;
    color: var(--extra);

    margin: 15px;
}

#div-one{
    display: flex;
    align-items: center;
}

#div-two{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#div-three{
    display: flex;
    align-items: center;
}

#div-four{
    display: flex;
    align-items: center;
}

#div-five{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.clases-card img{
    height: 500px;
    width: 600px;
    margin: 10px;

    border: var(--efectos) 1px solid;
    box-shadow: var(--efectos) 3px 3px 3px;
}

/*!--CONTACTO--*/
.contact-card{
    color: var(--letras);
    text-shadow: var(--extra) 2px 4px 2px;

    background-image: url("../img/img-6.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 750px;

    margin-top: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-card h1{
    font-size: 80px;
    font-weight: 800;
}

.form-card-one{
    color: var(--efectos);
    font-size: 20px;
    text-shadow: var(--extra) 2px 1px 1px;
    margin: 10px;
    padding: 5px;
}

/*!SUCURSALES--*/

.search-card{
    text-align: center;
}

.search-card input{
    width: 350px;
    height: 50px;
    border-radius: 5px;

    border-color: var(--extra);
    background-color: var(--fondo);
}

.map-card-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 5px; 
}

.map-card-container div{
    border:var(--efectos) 2px solid;
    box-shadow:var(--extra2) 5px 5px 5px;
    background-color:var(--efectos2);
    color: var(--extra);
    margin: 15px;

    height: 600px;
    width: 400px;
}


.city-card{
    background-image: url("../img/banner1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 750px;

    margin-top: 50px;
    text-align: center;
}

.city-card h1{
    font-size: 80px;
    font-weight: 800;
    color: #32cd32;
    display: flex;
    justify-content: center;
    padding: 100px;
    text-shadow: #000000 5px 5px 5px;
}

@media (max-width:950px) {
    .menu-icon{
        display: block;
        cursor: pointer;
        color: var(--extra);
    }
    
    #link{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: start;
        position: absolute;
        padding-top: 20px;
        background-color: var(--efectos2);
        width: 100vmax;
    }

    #link li a{
        color:var(--extra);
        text-shadow: var(--fondo) 1px 1px 1px;
    }
    
    #menu:checked + .menu-icon + #link {
        display: flex;
    }
}


@media (max-width:500px){
    body{
        width: 100vmax;
    }

    header{
        width: 100vmax;
    }
    .hero-card{
        width: 100vmax;
        font-size: 10px;
    }

    .gym-card-container{
        width: 100vmax;
        align-items: center;
    }
}

@media (max-width: 400px){
    .hero-card{
        background-image: none;
        color:var(--extra);
        text-shadow: var(--efectos) 2px 4px 2px;
        background-color: var(--efectos2);
        border: var(--efectos2) 2px solid;
        box-shadow: var(--efectos) 5px 5px 5px;
    }
    .button-two{
        border: var(--extra) 2px solid;
        color: var(--extra);
    }

    .contact-card{
        background-image: none;
        color:var(--extra);
        text-shadow: var(--efectos) 2px 4px 2px;
        background-color: var(--efectos2);
        border: var(--efectos2) 2px solid;
        box-shadow: var(--efectos) 5px 5px 5px;
    }
}