
header{
    height: 70px;
    text-align: center;
    border-bottom: 1px solid $letras;
    box-shadow: 5px 5px 25px $efectos;
    margin: 0%;
    nav{
        .menu-icon{
            display: none;
        }
        .menu{
            display: none;
        }

        #link{
            display: grid;
            grid-template-columns: 200px 200px 200px 200px 200px;
            column-gap: 10px;
            justify-content: center;
            align-items: center;
            justify-items: center;
        li{
            list-style: none;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 600;
                a{
                    text-decoration: none;
                    color:$letras;
                    padding: 10px;
                }

                a:hover{
                    color:$efectos;
                }
            }
        }
    }
}