
$fondo: #52253d;
$letras: #b25780;

$efectos: #ff80b3;
$efectos2: #8f4b6f67;
$extra: #ffffff;
$extra2: #c15970;

$lista: $efectos, $efectos2, $extra, $extra2;

.button-style{
    background-color:$efectos;
    color:$extra2;
    border:2px solid $extra2;
}

@mixin borde-redondo{
    border-radius: 7px;
}
