
$fondo: #52253d;
$letras: #b25780;


$lista: #ff80b3, #8f4b6f67, #ffffff, #c15970;

.button-style{
    background-color:nth($lista, 1);
    color:nth($lista, 4);
    border:2px solid nth($lista, 3);
}

@mixin borde-redondo{
    border-radius: 7px;
}
